<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombres y Apellidos" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label "Cédula de Identidad" %><br />
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label "Número de Credencial" %><br />
    <%= f.text_field :credencial %>
  </div>
    <div class="field">
    <%= f.label "Región" %><br />
    <%= f.collection_select(:region_id, Region.all, :id, :region, :prompt => true)%>
  </div>
  <div class="field">
    <%= f.label "Distrito" %><br />
    <%= f.collection_select(:distrito_id, Distrito.all, :id, :distrito, :prompt => true)%>
  </div>
  <div class="field">
    <%= f.label "Condición" %><br />
    <%= f.collection_select(:condicion_id, Condicion.all, :id, :condicion, :prompt => true)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
