<h1>Participantes a la Asamblea Nacional Scout del Centenario</h1>

<table>
  <tr>
    <th>Nombres y Apellidos</th>
    <th>Cédula de Identidad</th>
    <th>Credencial</th>
    <th>Región</th>
    <th>Distrito</th>
    <th>Condición</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.ci %></td>
    <td><%= usuario.credencial %></td>
    <td><%= usuario.region.region %></td>
    <td><%= usuario.distrito.distrito %></td>
    <td><%= usuario.condicion.condicion %></td>
    <td><%= link_to 'Acreditar', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Favor confirmar' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Registro de nuevo participante', new_usuario_path %>
