<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Cédula de identidad:</b>
  <%= @usuario.ci %>
</p>

<p>
  <b>Número de Credencial:</b>
  <%= @usuario.credencial %>
</p>

<p>
  <b>Región:</b>
  <%= @usuario.region.region %>
</p>

<p>
  <b>Distrito:</b>
  <%= @usuario.distrito.distrito %>
</p>

<p>
  <b>Condición:</b>
  <%= @usuario.condicion.condicion %>
</p>

<p id="pdf_link">
<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Menú principal', usuarios_path %> |
<%= link_to "Imprimir acreditación", usuario_path(@usuario, :format => "pdf") %></p>
